@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --purple: #684bb1;
  --pink: #ff52c1;
  --magenta: #e880e8;
}

body {
  background-color: var(--purple);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  font-family: "Poppins", sans-serif;
  color: #fff;
}

header,
main,
footer {
  max-width: 304px;
  margin: 0 auto;
}

header {
  height: 95px;
  display: flex;
  align-items: center;
}

header img {
  width: 120px;
}

main {
  margin-top: 31px;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 64px 0 16px;
}

p {
  font: 16px/24px "Open Sans", sans-serif;
}

button {
  width: 200px;
  height: 40px;

  background-color: #fff;
  color: var(--purple);
  font-size: 12px;
  line-height: 18px;

  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border-radius: 20px;
  margin: 24px 0 64px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 18px;
}

@media (min-width: 1440px) {
  body {
    background-image: url("./images/bg-desktop.svg");
  }

  header,
  main,
  footer {
    max-width: 1270px;
    margin: 0 auto;
  }

  header {
    height: 160px;
  }

  header img {
    width: 200px;
  }

  main {
    display: grid;
    margin-top: 40px;
    grid-template-areas:
      "left ."
      "left ."
      "left .";
    gap: 0 59px;

    text-align: start;
  }

  main img {
    width: 696px;
    max-width: 696px;
    grid-area: left;
  }

  h1 {
    font-size: 40px;
    line-height: 60px;
    margin: 32px 0 0;
  }

  p {
    font-size: 18px;
    line-height: 27px;
  }

  button {
    height: 56px;
    font-size: 18px;
    line-height: 27px;
    border-radius: 28px;
    text-align: center;
    margin: 0 0 155px;
    cursor: pointer;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    transition: all 500ms;
  }

  button:hover {
    background-color: var(--magenta);
    color: #fff;
  }

  footer {
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  .circle {
    cursor: pointer;
    transition: all 500ms;
  }

  footer div:hover {
    color: var(--pink);
    border-color: var(--pink);
  }
}
